img{
    object-fit: contain;
    width: 400px;
    height: 500px;
    margin-top: 100px;
    text-align: center;
    margin: auto;
}


#corp-principal{
    text-align: center;
    margin: auto;

}

h2{
    text-align: left;
}

.collection{
    margin-top: 100px;
}