.pinceau-recherche::after{
  content: "🖌️";
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
  text-decoration: none;
  color: white;

}

.nav-list li a:hover {
  color: black;
}

#Barre {
  background-color: rgb(240, 212, 126);
  background-attachment: fixed;
  border-radius: 2px;
  height: 75px;
}


#bouton {
  background: none;
  border-color: beige;
}



/* Footer */

